<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header :: head ('글작성')"></head>

<body class="text-center d-flex flex-column h-100">
<header th:replace="layout/header :: header"></header>

<main class="form-signin" style="max-width: 100%;">
    <div class="container border rounded flex-md-row mb-4 shadow-sm h-md-250">
        <form>
            <h1 class="h3 m-3 fw-normal">글쓰기</h1>
            <div class="form-floating m-3">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요." required>
            </div>
            <div class="form-floating m-3">
                <label for="contents">내용</label>
                <input type="text" class="form-control" id="contents" placeholder="내용을 입력하세요." required>
            </div>

        </form>

        <button class="w-100 btn btn-lg btn-success" id="btn-save" style="max-width: 250px;">작성완료</button>

    </div>
</main>

<footer th:replace="layout/footer :: footer"></footer>


<script th:src="@{/js/recipe.js}"></script>
</body>
</html>