#main-bg {
  height: 250px;
  background-image: url('./recipeBackground.jpg');
  background-size: auto;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* object-fit: cover; */
  /* padding: 125px auto; */
}

.title {
  font-size: 30px;
  /* text-align: center; */
  font-weight: bold;
  
}

.img {
  height: 250px;
  width : 900px;
  object-fit: cover;
}

.button {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  position: absolute;
  left: 1250px;
  bottom : 200px;
}